/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.card-img-top {
  height: 200px;
  object-fit: contain;
}

.card-title {
  height: 3em;
  /* Chiều cao giới hạn của tiêu đề */
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
}

/* input[type=number]::-webkit-inner-spin-button {
    opacity: 1
} */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}