{% extends 'layout/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container">
    <h1>Login</h1>
    <form action="{{ url_for('login') }}" method="post">
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}
        <div class="mb-3">
          <label for="Email" class="form-label">Email address</label>
          <input type="email" name="email" class="form-control" id="Email" aria-describedby="emailHelp">
          
        </div>
        <div class="mb-3">
          <label for="Password" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="Password">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="Check">
          <label class="form-check-label" for="Check">save</label>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
</div>

{% endblock %}