<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">SHOPBEE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.endpoint == 'index' else '' }}" aria-current="page"
                        href="{{ url_for('index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Category
                    </a>
                    <ul class="dropdown-menu">
                        {% for c in categories %}
                        <li><a class="dropdown-item" href="{{ url_for('products',cid=c.id) }}">{{ c.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.endpoint == 'cart' else '' }}" aria-current="page"
                        href="{{ url_for('cart') }}">Cart
                        <span id="total_quantity_cart" class="badge text-bg-secondary">{{ total_quantity_cart }}</span>
                    </a>
                        
                </li>
                <!-- <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li> -->
            </ul>
            <form method="get" action="{{ url_for('search') }}" autocomplete="off" class="d-flex" role="search">
                <input class="form-control me-2" name="q" id="searchInput" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success me-2" type="submit">Search</button>
            </form>
            <!-- login -->
            <div class="d-flex">
                {% if current_user.is_authenticated %}
                <div class="btn-group dropdown me-5">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{ current_user.name }}
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{{ url_for('settings') }}">Tài khoản của tôi</a></li>
                      <li><a class="dropdown-item" href="#">Đơn mua</a></li>
                      {% if current_user.role == 0 %}
                      <li><a class="dropdown-item" href="{{ url_for('dashboard') }}">Dashboard</a></li>
                        {% endif %}
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="{{ url_for('logout') }}">Đăng Xuất</a></li>
                    </ul>
                  </div>

                <!-- <a class="nav-link me-2" aria-current="page" href="{{ url_for('logout') }}">Logout</a> -->
                {% else %}
                <a class="nav-link {{ 'active' if request.endpoint == 'login' else '' }} me-2" aria-current="page"
                    href="{{ url_for('login') }}">Login</a>
                <a class="nav-link {{ 'active' if request.endpoint == 'register' else '' }}" aria-current="page"
                    href="{{ url_for('register') }}">Register</a>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
</nav>